.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 5px 10px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.My-1:hover{
    text-decoration: underline;
    cursor: pointer;
}


.My-2{
    margin: 15px 0;
}

.text-center{
    text-align: center;
    margin: 5px 0;
}